.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0px;
  text-decoration: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}
